.catalog {
  display: flex;
  align-items: flex-end;
  position: relative;
  color: white;
  overflow: scroll;
  width: 100%;
  margin: 0 auto;
}
.catalog img {
  max-width: 100px;
}

.controls {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
.controls span {
  font-size: 1.17rem;
  margin: 0 1rem;
}
.controls button.selected {
  color: #d51917;
}

#search-bar input {
  width: 10rem;
  margin-right: .5rem;
}

#scroll {
  position: relative;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem;
  font-size: 2.5rem;
}
.close:hover {
  cursor: pointer;
}

.purchase-form-modal {
  background-color: #282c34;
  color: white;
  padding: 1rem;
}

.purchase-form-modal-overlay {
  position: absolute;
  left: calc(50% - 25vw);
  top: 10%; 
  width: 50vw;
  background-color: #282c34;
  color: white;
  border: 2px solid white;
  padding: 1rem;
}

#purchase-form {
  display: flex;
}
#purchase-form form {
  width: 10rem;
  margin-left: 2rem;
}

.errors {
  color: #d51917;
}
