.catalog {
  display: flex;
  align-items: flex-end;
  color: white;
  overflow-y: scroll;
}

.book {
  margin: 1rem;
}

.catalog .book img {
  max-width: 100px;
}

.registration-modal {
  background-color: #282c34;
  color: white
}