.catalog {
  min-width: 10vw;
  max-width: 50vw;
  display: flex;
  align-items: flex-end;
  font-size: calc(10px + 2vmin);
  color: white;
}

.book {
  margin: 1rem;
}

.catalog .book img {
  max-width: 100px;
}